.restaurant {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
.restaurant-content {
    flex-grow: 1;
}
.going-count {
    /* float: right; */
    /* align-self: center; */
    align-self: flex-end;
    padding: 5px;
    border: 1px solid darkblue;
    border-radius: 10%;
}

.user-going {
    background-color: darkblue;
    color: white;
}

.user-can-click {
    cursor: pointer;
}