<div *ngFor="let restaurant of restaurants" class="restaurant">
  <div class="restaurant-content">
      <h4>{{restaurant.name}}</h4>
      <h5>{{restaurant.location}}</h5>
  </div>
  <span *ngIf="!restaurantService.isLoggedInUserGoing(restaurant.id)" 
        [ngClass]="{'user-can-click': isAuthenticated}"       
        class="going-count"
        (click)="addGoing.emit(restaurant.id)">{{restaurant.going.length}} Going
  </span>
  <span *ngIf="restaurantService.isLoggedInUserGoing(restaurant.id)"
        [ngClass]="{'user-can-click': isAuthenticated}"
        class="going-count user-going"
        (click)="removeGoing.emit(restaurant.id)">{{restaurant.going.length}} Going
  </span>
</div>